.list-view {
    -fx-border-color: rgba(254, 214, 0, .4);
    -fx-background-color: transparent;
}
.list-view .list-cell:even {
    -fx-background: rgb(10, 10, 10);
    -fx-border-color: rgba(0, 0, 0, .6);
}
.list-view .list-cell:odd {
    -fx-background: rgb(15, 15, 15);
    -fx-border-color: rgba(0, 0, 0, .6);
}
.list-view .list-cell:filled:hover {
    -fx-background: rgb(0, 40, 30);
}
.list-view .list-cell:filled:selected {
    -fx-background: rgb(0, 40, 65);
}


.transparent-background {
    -fx-background-color: rgb(100, 200, 0);
}

.scroll-pane {
    -fx-background: rgb(10, 10, 10);
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: rgba(254, 214, 0, .4);
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
    -fx-background-color: rgb(20, 20, 0);
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: rgb(30, 30, 0);
}

.scroll-bar:horizontal .track,
             .scroll-bar:vertical .track {
    -fx-background-color: rgba(10, 10, 0, .8);
}

.scroll-bar:horizontal .thumb,
             .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(254, 214, 30, .7);
}

.scroll-bar:horizontal .increment-button, .decrement-button,
             .scroll-bar:vertical .increment-button, decrement-button {
    -fx-border-color: rgba(254, 214, 0, .4);
    -fx-background-color: rgb(0, 20, 20);
}
.scroll-bar:horizontal .increment-button .increment-arrow, .decrement-button .decrement-arrow,
             .scroll-bar:vertical .increment-button .increment-arrow, decrement-button .decrement-arrow {
    -fx-background-color: rgba(150, 200, 230, .9);
}


.time-text {
    -fx-underline: true;
    -fx-fill: rgb(189, 189, 189);
    -fx-font-family: TimesNewRoman;
}
.info-text {
    -fx-fill: rgb(189, 189, 189);
    -fx-font-family: TimesNewRoman;
}
.column-title {
    -fx-fill: rgb(254, 214, 0);
    -fx-font-family: TimesNewRoman;
    -fx-font-size: 20;
}


.button {
    -fx-background-color: rgba(0, 0, 0, 1);
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-border-width: 1;
    -fx-border-color: rgba(254, 214, 0, .4);
    -fx-font-size: 20;
}
.button:canceled {
    -fx-background-color: rgba(254, 214, 0, .6);
}
.button:default {
    -fx-background-color: rgba(254, 0, 0, .6);
}
.button:armed {
    -fx-background-color: rgba(254, 214, 0, .6);
    -fx-text-fill: rgb(50, 214, 255);
}

.timetable-root {
    -fx-background-color: rgb(30, 30, 0);
}

